@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div>
    <h2>Chào Mừng </h2>
    <ul>
        <li><a asp-controller="GioiThieu" asp-action="BanThan">Thông Tin Bản Thân</a></li>
        <li><a asp-controller="GioiThieu" asp-action="ChaMe">Thông Tin Cha Mẹ</a> </li>
        <li><a asp-controller="GioiThieu" asp-action="AnhChiEm">Thông Tin Anh Chi Em</a> </li>
    </ul>
</div>